In [188]:
import pandas as pd
import numpy as np
import matplotlib
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import RobustScaler
from sklearn.preprocessing import OneHotEncoder
from sklearn.model_selection import train_test_split
from sklearn.model_selection import cross_val_score
from sklearn.preprocessing import FunctionTransformer
from sklearn.linear_model import LinearRegression
from sklearn.decomposition import PCA
from sklearn.pipeline import Pipeline
from sklearn.compose import ColumnTransformer
from sklearn.linear_model import Ridge
from sklearn.linear_model import Lasso
from sklearn.ensemble import RandomForestRegressor
from sklearn.ensemble import GradientBoostingRegressor
from sklearn.metrics import mean_squared_error
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import r2_score

In [189]:
df=pd.read_csv("HR_Data_MNC_Data Science Lovers.csv")

In [190]:
df.columns

Index(['Unnamed: 0', 'Employee_ID', 'Full_Name', 'Department', 'Job_Title',
       'Hire_Date', 'Location', 'Performance_Rating', 'Experience_Years',
       'Status', 'Work_Mode', 'Salary_INR'],
      dtype='object')

In [191]:
df.head(5)

,Unnamed: 0,Employee_ID,Full_Name,Department,Job_Title,Hire_Date,Location,Performance_Rating,Experience_Years,Status,Work_Mode,Salary_INR
0,0,EMP0000001,Joshua Nguyen,IT,Software Engineer,2011-08-10,"Isaacland, Denmark",5,14,Resigned,On-site,1585363
1,1,EMP0000002,Julie Williams,Marketing,SEO Specialist,2018-03-02,"Anthonyside, Costa Rica",2,7,Active,On-site,847686
2,2,EMP0000003,Alyssa Martinez,HR,HR Manager,2023-03-20,"Port Christinaport, Saudi Arabia",1,2,Active,On-site,1430084
3,3,EMP0000004,Nicholas Valdez,IT,Software Engineer,2023-10-12,"Port Shelbychester, Antigua and Barbuda",1,1,Active,On-site,990689
4,4,EMP0000005,Joel Hendricks,Operations,Logistics Coordinator,2024-12-09,"Lake Kimberly, Palestinian Territory",5,0,Active,On-site,535082

In [ ]:
mean_above_7=df.query("Experience_Years>7")
mean_above_7.mean()

In [ ]:
df['Location'].nunique()

In [ ]:
valeur = df.iloc[1, 2] 
valeur

In [ ]:
df.shape

In [ ]:
df.groupby('Department')['Experience_Years'].mean()

In [ ]:
df.groupby('Status')['Status'].count()

In [ ]:
df['Employee_ID'].nunique()

In [ ]:
df.isnull().sum()

In [ ]:
df.dropna()

In [ ]:
df['Hire_Date'] = pd.to_datetime(df['Hire_Date'])

In [ ]:
df['year']= df['Hire_Date'].dt.year

In [ ]:
df['month']= df['Hire_Date'].dt.month

In [ ]:
df.head(5)

In [ ]:
df['Location'].duplicated().sum()

In [ ]:
work_mode_selection = df[df['Status']. str.contains('Active')]
work_mode_selection

In [ ]:
df['Salary_INR'].min()

In [ ]:
work_mode_selection['Salary_INR'].plot. hist(bins=30)

In [ ]:
num_pipe=Pipeline([
    ('imputer', SimpleImputer(strategy='mean')),
     ('scaler',MinMaxScaler())
     ])

In [ ]:
cat_pipe=Pipeline([
('imputer', SimpleImputer(strategy='most_frequent')),
('ohe', OneHotEncoder(handle_unknown='ignore', drop='if_binary'))
])

In [ ]:
num_pipe

In [ ]:
cat_pipe

In [ ]:
df.columns

In [ ]:
liste = df[['Department', 'Job_Title',
       'Location', 'Performance_Rating', 'Experience_Years',
       'Status', 'Work_Mode', 'Salary_INR', 'year', 'month']]

In [ ]:
df = pd.DataFrame(liste)

In [ ]:
numerical_features = X.select_dtypes(include=['int64', 'float64']).columns.tolist()
categorical_features = X.select_dtypes(include=['object']).columns.tolist()
#datetime_features = X.select_dtypes(include=['datetime64']).columns.tolist()

In [ ]:
print(f"\nNumériques: {numerical_features}")
print(f"Catégorielles: {categorical_features}")
#print(f"Datetime: {datetime_features}")

In [ ]:
# def datetime_to_features(X):
#     """Convertit les colonnes datetime en features numériques"""
#     X = X.copy()
#     for col in X.columns:
#         if pd.api.types.is_datetime64_any_dtype(X[col]):
#             X[f'{col}_year'] = X[col].dt. year
#             X[f'{col}_month'] = X[col]. dt.month
#             X[f'{col}_day'] = X[col].dt.day
#             X = X.drop(col, axis=1)
#     return X

# datetime_pipe = Pipeline([
#     ('datetime_converter', FunctionTransformer(datetime_to_features)),
#     ('scaler', MinMaxScaler())
# ])

In [ ]:
df.head(5)

In [ ]:
# Étape 2 :  Séparer X et y
X = df.drop('Salary_INR', axis=1)
y = df['Salary_INR']

In [ ]:
preprocessor = ColumnTransformer([
    ('num', num_pipe, numerical_features),
    ('cat', cat_pipe, categorical_features),
    #('datetime', datetime_pipe, datetime_features)
], remainder='drop')

In [ ]:
# Split AVANT tout preprocessing
X_train, X_test, y_train, y_test = train_test_split(
    X, y, 
    test_size=0.3,      # 70% train, 30% test
    random_state=42,
    )

In [ ]:
models = LinearRegression()

In [ ]:
full_pipeline = Pipeline([
        ('preprocessor', preprocessor),
        ('regressor', models) 
    ])

In [ ]:
full_pipeline

In [ ]:
# Entraîner (tout en un !  )
full_pipeline.fit(X_train, y_train)
#le transform est caché
# Prédire (tout automatique)
y_pred = full_pipeline.predict(X_test)

In [ ]:
 # Metrics
r2 = r2_score(y_test, y_pred)
mae = mean_absolute_error(y_test, y_pred)
#mean_squared_error=mean_squared_error(y_test, y_pred)

In [ ]:
r2

In [ ]:
mae

In [ ]:
results_df=['r2','mae']

In [ ]:
slope=models.coef_[0]
slope

In [ ]:
intercept=models.intercept_
intercept

In [ ]:
# #étapes ultérieures : améliorer la pertinence du modèle avec les modèles et ensembles : from sklearn.linear_model import Ridge
# from sklearn.linear_model import Lasso
# from sklearn.ensemble import RandomForestRegressor
# from sklearn.ensemble import GradientBoostingRegressor

#Evaluer la pertinence avec cross validation

#evaluer avec une learning curve
#ajouter une matrice de corrélation
#essayer d'identifier les 2 colonnes les plus corrélées runner le model de nouveau etajouter des polynomial features
#Créer un model de deep learning

In [ ]:
new_datapoint=pd.DataFrame.from_dict({'Experience_Years':[7]})

In [ ]:
prediction=model.predict(new_datapoint)[0]
prediction